<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2 id="welcomeYou">This is our Home Page!</h2>

        <!--
        <h3>----COLORS list here-----</h3>
        <ul id="color-list" class="list-group">
          {{#each colors}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.details}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <h3>----colors end here--------------</h3>
        -->

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            
            
            <img class="card-img" src="https://m.media-amazon.com/images/S/aplus-media/vc/9b6179da-6475-4e0b-bf16-b791773890ff._SR970,300_.png" alt="Card image">
    <div class="card-img-overlay">
      <div class="jumbotron jumbotron-fluid" style="margin-top: 40%">
        <div class="container">
          <div class="row">
          <div class="col-sm-12">
          <h1 class="display-3">What are your True Colors ?</h1>
          </div>
          </div>
          <form>
              <br>
              <h3><strong>Survey Says..</strong></h3>
              <div class="row">
                    <div class="col-sm-12">
                              <form class="clearfix mb-4" action="POST">

                          <div class="form-group ">
                              <label for="q1">1. I’m the type who likes to act on a moments notice and squeeze the juice out of life.</label>
                              <select class="form-control" id="q1">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
                </div>
              <div class="row">
                  <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q2">2. I have a flair for recognizing and seizing opportunities.</label>
                            <select class="form-control" id="q2">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                  </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q3">3. I need fun, variety and excitement.</label>
                              <select class="form-control" id="q3">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q4">4. I’m organized, dependable and responsible.</label>
                              <select class="form-control" id="q4">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q5">5. I value order and cherish the traditions of home and family.</label>
                              <select class="form-control" id="q5">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q6">6. I like to know and follow the rules and want others to do so too.</label>
                              <select class="form-control" id="q6">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q7">7. I need to be responsible, useful, and like to belong.</label>
                              <select class="form-control" id="q7">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q8">8. I like to acquire knowledge and understanding.</label>
                              <select class="form-control" id="q8">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q9">9. I have an aptitude for critique and problem-solving.</label>
                              <select class="form-control" id="q9">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                            <label for="q10">10. I need explanations, answers and evidence.</label>
                            <select class="form-control" id="q10">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q11">11. I’m direct and decisive.</label>
                            <select class="form-control" id="q11">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <button id="submitButton" type="submit" name="action" class="btn btn-primary" data-toggle="modal">Send</button>
          </form>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
          <h4 class="lead leader"><h5 id="userName"></h5></strong></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
              <h3 id="userBio">
                  <br>
                  <br>
                <a target="_blank" class="nav-link" href="/example/:id">click here for a detailed list of results & helpful resources.</a>
              </h3>
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>